<div id="header">
    <div>
        <img src="assets/logo.png" alt="">
    </div>
    <div>
        <ul>
            <li>About</li>
            <li>Database</li>
            <li>Login</li>
            <li>Register</li>
        </ul>
    </div>
</div>